Murmu, Sanjeev Stephan

Kevin James

Jon Erickson/Hacking_ The Art of Exploitation, 2n (29)/cover.jpg


Viktor E. Frankl/Man's Search for Meaning (18)/cover.jpg
Viktor E. Frankl/Man's Search for Meaning (18)/Man's Search for Meaning - Viktor E. Frankl.epub
Viktor E. Frankl/Man's Search for Meaning (18)/metadata.opf

Stephen R. Covey/The 7 Habits of Highly Effective Peo (17)/cover.jpg
Stephen R. Covey/The 7 Habits of Highly Effective Peo (17)/metadata.opf
Stephen R. Covey/The 7 Habits of Highly Effective Peo (17)/The 7 Habits of Highly Effectiv - Stephen R. Covey.epub
Joe Benton/Computer Hacking_ A beginners guide (30)/metadata.opf
Joe Benton/Computer Hacking_ A beginners guide (30)/cover.jpg
Joe Benton/Computer Hacking_ A beginners guide (30)/Computer Hacking_ A beginners g - Joe Benton.pdf
James Clear/Atomic Habits_ Tiny Changes, Remarka (14)/metadata.opf
Greg Marty/Millionaire Mindset Mastery_ How to (20)/Millionaire Mindset Mastery_ Ho - Greg Marty.epub
Greg Marty/Millionaire Mindset Mastery_ How to (20)/metadata.opf
Greg Marty/Millionaire Mindset Mastery_ How to (20)/cover.jpg
Greg Marty/Millionaire Mindset Mastery & Invest (16)/Millionaire Mindset Mastery & I - Greg Marty.epub
Greg Marty/Millionaire Mindset Mastery & Invest (16)/metadata.opf
Greg Marty/Millionaire Mindset Mastery & Invest (16)/cover.jpg
dlavieri/Nmap Network Scanning The Official N (22)/Nmap Network Scanning The Offic - dlavieri.pdf
dlavieri/Nmap Network Scanning The Official N (22)/metadata.opf
dlavieri/Nmap Network Scanning The Official N (22)/cover.jpg
Carol S. Dweck/Mindset_ The New Psychology of Succe (21)/Mindset_ The New Psychology of - Carol S. Dweck.epub
Carol S. Dweck/Mindset_ The New Psychology of Succe (21)/metadata.opf
Carol S. Dweck/Mindset_ The New Psychology of Succe (21)/cover.jpg
Brown, Brene/Daring Greatly_ How the Courage to B (19)/metadata.opf
Brown, Brene/Daring Greatly_ How the Courage to B (19)/Daring Greatly_ How the Courage - Brown, Brene.epub
.caltrash/b/26/Nmap Network Scanning The Offic - dlavieri.pdf
Christopher Hadnagy/Human Hacking (2)/Human Hacking - Christopher Hadnagy.epub
.caltrash/b/26/cover.jpg
.caltrash/b/26/metadata.opf
.caltrash/b/28/cover.jpg
.caltrash/b/28/Hacking exposed malware & rootk - PDF Room.pdf
.caltrash/b/28/metadata.opf
Bazzell, Michael/Personal Digital Security - PDFDrive (23)/cover.jpg
Bazzell, Michael/Personal Digital Security - PDFDrive (23)/metadata.opf
Bazzell, Michael/Personal Digital Security - PDFDrive (23)/Personal Digital Security - PDF - Bazzell, Michael.pdf
Brown, Brene/Daring Greatly_ How the Courage to B (19)/cover.jpg
Christopher Hadnagy/Human Hacking (2)/cover.jpg
Christopher Hadnagy/Human Hacking (2)/metadata.opf
Christopher Hadnagy/Social Engineering_ The Science of H (4)/cover.jpg
Christopher Hadnagy/Social Engineering_ The Science of H (4)/metadata.opf
Christopher Hadnagy/Social Engineering_ The Science of H (4)/Social Engineering_ The Science - Christopher Hadnagy.epub
Crowder, Nicholas/(OSINT) Open Source Intelligence Glo (1)/(OSINT) Open Source Intelligenc - Crowder, Nicholas.epub
Crowder, Nicholas/(OSINT) Open Source Intelligence Glo (1)/cover.jpg
Crowder, Nicholas/(OSINT) Open Source Intelligence Glo (1)/metadata.opf
Daniel Farber Huang/NOWHERE TO HIDE_ Open Source Intelli (3)/cover.jpg
Daniel Farber Huang/NOWHERE TO HIDE_ Open Source Intelli (3)/metadata.opf
Daniel Farber Huang/NOWHERE TO HIDE_ Open Source Intelli (3)/NOWHERE TO HIDE_ Open Source In - Daniel Farber Huang.epub
John Schember/Quick Start Guide (10)/cover.jpg
John Schember/Quick Start Guide (10)/metadata.opf
John Schember/Quick Start Guide (10)/Quick Start Guide - John Schember.epub
Jon Erickson/Hacking_ The Art of Exploitation, 2n (29)/Hacking_ The Art of Exploitatio - Jon Erickson.pdf
Jon Erickson/Hacking_ The Art of Exploitation, 2n (29)/metadata.opf
kefoo/Google Hacks_ Tips & Tools for Smart (6)/cover.jpg
kefoo/Google Hacks_ Tips & Tools for Smart (6)/Google Hacks_ Tips & Tools for - kefoo.epub
kefoo/Google Hacks_ Tips & Tools for Smart (6)/metadata.opf
Michael Bazzell/Hiding from the Internet_ Eliminatin (7)/cover.jpg
Michael Bazzell/Hiding from the Internet_ Eliminatin (7)/Hiding from the Internet_ Elimi - Michael Bazzell.epub
Michael Bazzell/Hiding from the Internet_ Eliminatin (7)/metadata.opf
Mitnick, Kevin/Ghost in the Wires_ My Adventures as (5)/cover.jpg
Mitnick, Kevin/Ghost in the Wires_ My Adventures as (5)/Ghost in the Wires_ My Adventur - Mitnick, Kevin.epub
Mitnick, Kevin/Ghost in the Wires_ My Adventures as (5)/metadata.opf
OccupyTheWeb/Linux Basics for Hackers (25)/cover.jpg
OccupyTheWeb/Linux Basics for Hackers (25)/Linux Basics for Hackers - OccupyTheWeb.pdf
OccupyTheWeb/Linux Basics for Hackers (25)/metadata.opf
Susan Young, Dave Aitel/The Hacker's Handbook_ The Strategy (27)/cover.jpg
Susan Young, Dave Aitel/The Hacker's Handbook_ The Strategy (27)/metadata.opf
Susan Young, Dave Aitel/The Hacker's Handbook_ The Strategy (27)/The Hacker's Handbook_ The Stra - Susan Young, Dave Aitel.pdf
temp/
Zeppo/The Personal Security Handbook (24)/cover.jpg
Zeppo/The Personal Security Handbook (24)/metadata.opf
Zeppo/The Personal Security Handbook (24)/The Personal Security Handbook - Zeppo.pdf
